* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

/* body style */
  #body {
   background-color: #ffffff;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  /* header style */

  #header {
      margin-top: 0;
      display: block;
  }

  .highscore a {
    font-size: 20px;
    margin-left: 50px;
    text-decoration: none;
  }

  .highscore h2 {
      text-align: right;
      font-size: 20px;
      margin-right: 50px;
      
  }


/* content style */
  .intro h2 {
      font-size: 50px;
      text-align: center;
      margin-top: 200px;
  }

  .intro p {
      font-size: 30px;
      text-align: center;
      margin-left: 20%;
      margin-right: 20%;
      display: flex;
  }
  .btn {
      background-color: blueviolet;
      font-size: 30px;
      border-radius: 10px;
      display: inline-block;
      margin: 5%;
      margin-left: 45%;
      color: #ffffff;
      padding: 10px 15px;
  }
  
/* question section style */
#quiz-page {
    margin: 100px;
    margin-left: 40%;
}

#question {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

ul {
    list-style: none;
}

#choices {


}

